.play-area {
    display: grid;
    grid-template-columns: 25% auto 25%;
    grid-template-rows: auto;
    grid-template-areas: 
        "char-container char-item-container item-container";
    border-style: inset;
    border-color: black;
    border-width: 3px;
    height: 700px;
}

.subcontainer {
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
}

#char-container {
    border-color: aqua;
}

#item-container {
    border-color: blue;
}

#char-item-container {
    border-color: brown;
}